Data From:
https://www.covid19survivalcalculator.com/en/download

In [1]:
import pandas as pd

C:\Users\drudi\Anaconda3\envs\learn-env\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\drudi\Anaconda3\envs\learn-env\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\drudi\Anaconda3\envs\learn-env\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
df = pd.read_csv('master_dataset.csv')

C:\Users\drudi\Anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8,9,12,13,14,15,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,survey_date,region,country,ip_latitude,ip_longitude,ip_accuracy,sex,age,height,weight,...,hiv_positive,hypertension,other_chronic,nursing_home,health_worker,prescription_medication,opinion_infection,opinion_mortality,risk_infection,risk_mortality
2020-03-26,NaN,CA,43.6802,-79.3019,100.0,male,20_30,178,88,27.7,...,0,0,0,0,NaN,NaN,NaN,5.0,0.050,NaN
2020-03-26,NaN,CA,51.1237,-114.0472,5.0,female,30_40,158,54,21.6,...,0,0,0,0,NaN,NaN,NaN,5.0,0.050,NaN
2020-03-24,NaN,CA,43.2999,-79.8638,100.0,male,90_100,184,94,27.7,...,1,0,0,0,NaN,NaN,NaN,12.0,14.701,NaN
2020-03-24,NaN,CA,45.5458,-73.7780,5.0,male,60_70,172,96,32.4,...,1,0,0,0,NaN,NaN,NaN,6.0,2.250,NaN
2020-03-25,NaN,CA,49.3025,-122.9475,1.0,male,30_40,166,70,25.4,...,0,0,0,0,NaN,NaN,NaN,5.0,0.050,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1004793 entries, 2020-03-26 to 2020-04-06
Data columns (total 60 columns):
 #   Column                                       Non-Null Count    Dtype
---  ------                                       --------------    -----
 0   survey_date                                  181426 non-null   object
 1   region                                       1004672 non-null  object
 2   country                                      1004793 non-null  float64
 3   ip_latitude                                  1004793 non-null  float64
 4   ip_longitude                                 1004773 non-null  float64
 5   ip_accuracy                                  1004793 non-null  object
 6   sex                                          1004788 non-null  object
 7   age                                          1004793 non-null  object
 8   height                                       1004793 non-null  object
 9   weight                                       1004789 non-null  float64
 10  bmi                                          1004793 non-null  object
 11  blood_type                                   316050 non-null   object
 12  insurance                                    316050 non-null   object
 13  income                                       316050 non-null   object
 14  race                                         316050 non-null   object
 15  immigrant                                    1002936 non-null  object
 16  smoking                                      1002896 non-null  float64
 17  alcohol                                      735209 non-null   float64
 18  cannabis                                     715023 non-null   float64
 19  amphetamines                                 712821 non-null   float64
 20  cocaine                                      717121 non-null   float64
 21  lsd                                          721531 non-null   float64
 22  mdma                                         1000546 non-null  float64
 23  contacts_count                               1004771 non-null  float64
 24  house_count                                  316050 non-null   float64
 25  public_transport_count                       1000557 non-null  object
 26  working                                      316050 non-null   float64
 27  worried                                      1004793 non-null  int64
 28  rate_reducing_risk_single                    1004793 non-null  int64
 29  rate_reducing_risk_single_social_distancing  1004793 non-null  int64
 30  rate_reducing_risk_single_washing_hands      1004793 non-null  int64
 31  rate_reducing_risk_house                     1004793 non-null  int64
 32  rate_reducing_risk_house_social_distancing   1004793 non-null  int64
 33  rate_reducing_risk_house_washing_hands       1004793 non-null  int64
 34  rate_reducing_risk_single_sanitizer          1002936 non-null  float64
 35  rate_reducing_mask                           280062 non-null   object
 36  rate_reducing_mask_type                      1004793 non-null  int64
 37  rate_government_action                       1004793 non-null  int64
 38  rate_government_control                      1004793 non-null  int64
 39  rate_government_spend                        1004793 non-null  int64
 40  covid19_positive                             1004793 non-null  int64
 41  covid19_symptoms                             1004793 non-null  int64
 42  covid19_contact                              1004793 non-null  int64
 43  asthma                                       1004793 non-null  int64
 44  kidney_disease                               1004793 non-null  int64
 45  liver_disease                                1004793 non-null  int64
 46  compromised_immune                           1004793 non-null  int64
 47  heart_disease                                1004793 non-null  int64
 48  lung_disease                                 1004793 non-null  int64
 49  diabetes                                     1004793 non-null  int64
 50  hiv_positive                                 1004793 non-null  int64
 51  hypertension                                 1004793 non-null  int64
 52  other_chronic                                1004793 non-null  int64
 53  nursing_home                                 1004793 non-null  int64
 54  health_worker                                293082 non-null   object
 55  prescription_medication                      819272 non-null   float64
 56  opinion_infection                            819272 non-null   float64
 57  opinion_mortality                            1004779 non-null  float64
 58  risk_infection                               1004779 non-null  float64
 59  risk_mortality                               0 non-null        float64
dtypes: float64(20), int64(25), object(15)
memory usage: 467.6+ MB

In [6]:
df.covid19_positive.value_counts(1, dropna=False)

0    0.97816
1    0.02184
Name: covid19_positive, dtype: float64